$def_bg: rgba( 100, 100, 100, .8 );
    $def_color: #ddd;
$opt_bg: rgba( 50, 50, 50, .8 );
$prm_bg: rgba( 200, 150, 150, .5 );

$time_hover: 300ms;
$time_scroll: 300ms;

* {
margin: 0;
padding: 0;
border-radius: 0;
border: none;
outline: none;
text-decoration: none;
list-style: none;
background: none;
box-sizing: border-box;
font-size: 16px }

@font-face {
	font-family: 'Metrize-Icons';
	src:url('../fonts/Metrize-Icons.eot');
	src:url('../fonts/Metrize-Icons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Metrize-Icons.woff') format('woff'),
		url('../fonts/Metrize-Icons.ttf') format('truetype'),
		url('../fonts/Metrize-Icons.svg#Metrize-Icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
background: url(../img/main_bg0.png) no-repeat;
background-size: cover;
display: flex;
justify-content: space-between;
height: 100vh;
max-height: 100vh }

input::-webkit-input-placeholder {
color: $def_color }


    .scroll-show {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100% }
            .scroll-all {
            position: absolute;
            top: 0rem;
            width:100%;
            transition: $time-hover }

button, input {
background: none;
color: $def_color;
transition: $time_hover }
button:hover, input:hover {
background: $prm_bg }
input {
display: block;
padding: 1rem;
width: 100% }

.icon {
font-family: 'Metrize-Icons';
padding: 0 .3rem;
font-size: 1.3rem;
speak: none;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1rem;
-webkit-font-smoothing: antialiased }

.player {
display: flex;
flex-direction: column;
background: $def_bg;
color: $def_color;
width: 30rem;
	.status-bar {
	background: $opt_bg;	
		span {
		display: block;
		width: 0;
		padding:  .5rem 0;
		background: $prm_bg }
	}
	.options li {
	display: inline-block }
		.volume-wrap {
		position: relative;
			.volume-bar {
			display: flex;
			position: absolute;
			top: 100%;
			height: 0;
			width: 100%;
			background: $opt_bg;
			transition: $time_hover;
            z-index: 3;
				span {
				display: block; 
				background: $prm_bg;
				transition: $time_hover;
				width: 100%;
                height: 100%;
                margin: auto 0 0
                }
			}
		}
		.volume-wrap:hover	.volume-bar {
		height: 10rem }	
	button {
	padding: 1rem;
	width: 100% }
}

.extra-options {
	button {
	text-align: left }

	.music-list li,
	.music-folder li,
	.settings-list li {
	position: relative }
	.music-list li:hover ul,
	.music-folder li:hover ul,
	.settings-list li:hover ul {
	height: 10rem }
	.music-list li ul,
	.music-folder li ul,
	.settings-list li ul  {
	background: $opt_bg;
	transition: $time_hover;
	position: absolute;
	top: 0;
	right: 0;
	margin-right: -100%;
	width: 100%;
	height: 0;
	z-index: 3 }
}

    .inp-wrap {
    margin: auto 0 0;
    background: $opt_bg }
    
.playlist {
background: $def_bg;
transition: $time_hover;
height: 100%;
width: 100%;
    button {
    width: 100%;
    padding: 1rem;
    overflow-wrap: break-word;
    text-align: left }
    .active {
	background: $prm_bg;	
	}
}

.vis-wrapp {
background: $prm_bg;
height: 0;
transition: $time_hover;
display: flex;
	@for $i from 0 through 14 {
		#vis#{$i} {
		background: $def_bg;
		width: 7.14285714%;
		animation: loading  random(1000) + ms infinite
		}
	}
}

@keyframes loading {
    0% {height:  100%}
    50% {height:  0}
    100% {height:  100%}
}
