@import '../css/themify-icons';

//================ cstomise
//===========================================
* {
margin: 0;
padding: 0;
border-radius: 0;
border: none;
outline: none;
text-decoration: none;
list-style: none;
background: none;
box-sizing: border-box;
font-size: 16px }

body {
display: flex;
flex-direction: column;
justify-content: space-aound }
//================ cstomise  end
//===========================================


//================ button
//===========================================
button, .btn{
padding: 1rem;
transition: var(--time-hover)	
}
button:hover, .btn:hover{
background: var(--button-hover-bg) }
//================ button  end
//===========================================


//================ scroll
//===========================================
    .b-scroll {
    overflow: hidden;
    position: relative;
    height: 100%;
		.scroll__content {
            position: absolute;
            top: 0rem;
            width:100% }
	}
//================ scroll  end
//===========================================


//================ header
//===========================================
	.controll-bar {
		background: var(--header-bg);
		button, input {
		color: var(--header-btn-color) }
		input {
		padding: 0 1rem	
		}
	}
		.status-bar {
		width: 100%;
			span {
			display: block;
			padding: 1rem 0;
			background: var(--status-bar-color);
			width: 0;
			}
		}
//================ header end
//===========================================		


//================ main
//===========================================
	.music-wrap {
	display: flex;
	height: calc(100vh - 5rem) }
	
		.options-list {
		background: var(--options-list-bg);
			button {
			display: block;
			color: var(--options-list-btn-color) }
		}
		
		[class^="options__"] {
		display: none }
		.options--active {
		display: block }
	
		.music-wrap .b-scroll:nth-child(2) {
		width: 30% }
		
		.music-wrap .b-scroll:nth-child(3) {
		width: 70%}

		
		
		.music, [class^="options__"] {
			button {
			width: 100%;
			padding: 1rem;
			color: var(--music-color);
			text-align: left }
		}
//================ main end
//===========================================

//================ tabs
//===========================================
	.tab {
	display: none }
	.tab--active {
	display: block }
//================ tabs end
//===========================================

//================ contextmenu end
//===========================================
.contextmenu {
position: fixed;
top:0;
left: 0;
background: var(--context-bg);
color: var(--context-color);
box-shadow: 0 0 .5rem var(--context-show);
	p {
	padding: 1rem }
	button {
	display: block;
	width: 100%;
	text-align: left;
	color: var(--context-color);
	padding: .5rem 1rem }
	button:hover {
	background: var(--context-show)
	}
}
//================ contextmenu end
//===========================================
