//================ constants
//===========================================
$def_bg: rgba( 100, 100, 100, .8 );
    $def_cr: #ddd;
$opt_bg: rgba( 50, 50, 50, .8 );
$prm_bg: #fff;
    $prm_cr: rgba( 200, 150, 150, .5 );
$th: 300ms;
//================ constants  end
//===========================================


//================ cstomise
//===========================================
* {
margin: 0;
padding: 0;
border-radius: 0;
border: none;
outline: none;
text-decoration: none;
list-style: none;
background: none;
box-sizing: border-box;
font-size: 16px }

body {
background: url(../img/main_bg.jpg)  center center / cover no-repeat;
display: flex;
flex-direction: column;
justify-content: space-aound }
//================ cstomise  end
//===========================================


//================ button
//===========================================
button, .btn{
padding: 1rem;
transition: $th	
}
button:hover, .btn:hover{
background: $def_bg }
//================ button  end
//===========================================


//================ scroll
//===========================================
    .b-scroll {
    overflow: hidden;
    position: relative;
    height: 100%;
		.scroll__content {
            position: absolute;
            top: 0rem;
            width:100% }
	}
//================ scroll  end
//===========================================


//================ header
//===========================================
	.controll-bar {
	background: $opt_bg;
		button {
		color: $def_cr }
	}
		.status-bar {
		width: 100%;
			span {
			display: block;
			padding: 1rem 0;
			background: $def_bg;
			width: 0;
			}
		}
//================ header end
//===========================================		


//================ main
//===========================================
	.music-wrap {
	display: flex;
	background: $def_bg;
	height: calc(100vh - 5rem) }
	
		.options-list {
			button {
			display: block;
			color: $def_cr	}
		}
		
		[class^="options__"] {
		display: none }
		.options--active {
		display: block }
	
		.music-wrap .b-scroll:nth-child(2) {
		background: $def_bg;
		width: 30% }
		
		.music-wrap .b-scroll:nth-child(3) {
		width: 70%}

		
		
		.music, [class^="options__"] {
			button {
			width: 100%;
			padding: 1rem;
			color: $prm_cr;
			text-align: left }
		}
//================ main end
//===========================================

//================ contextmenu end
//===========================================
.contextmenu {
position: fixed;
top:0;
left: 0;
background: $def_bg;
color: $def_cr;
box-shadow: 0 0 .5rem $opt_bg;
	p {
	padding: 1rem }
	button {
	display: block;
	width: 100%;
	text-align: left;
	color: $def_cr;
	padding: .5rem 1rem }
	button:hover {
	background: $opt_bg
	}
}
//================ contextmenu end
//===========================================
